/* hmoe */
.containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: auto; /* Justera bredden efter behov */
}

.meny {
  width: 75%;
  display: flex;
  background-color: #fff;
  padding: 50px;
  justify-content: space-between;
}

.meny a:first-child {
  margin-left: 50px;
}

.meny a:last-child {
  margin-left: auto; /* Placera den sista länken till höger */
  color: #fd8f47;
}

.meny a {
  margin-right: 70px; /* Justera efter önskat avstånd mellan länkarna */
  text-decoration: none;
  color: #333;
  position: relative; /* Lägg till positionering relativt */
}

.meny a::after {
  content: ""; /* Lägg till ett tomt innehåll för pseudoelementet */
  position: absolute; /* Absolut positionering relativt till länken */
  left: 0; /* Placera understreckseffekten från vänsterkanten av länken */
  bottom: -3px; /* Placera understreckseffekten 3 pixlar under länken */
  width: 100%; /* Bredden på understreckseffekten är lika med bredden på länken */
  border-bottom: 2px solid transparent; /* Lägg till ett transparent understreck */
  transition: border-color 0.3s; /* Lägg till övergång för en smidig effekt */
}

.meny a:hover::after {
  border-color: #fd7014; /* Ändra understreckets färg när musen hovrar över länken */
}

.meny a:hover {
  color: #fd7014;
}

.content {
  text-align: center; /* Centrera innehållet horisontellt */
  margin-top: 20px;
}

.content h1 {
  color: #fd7014; /* Ändra färgen på rubriken */
  font-size: 50px;
}

.content p {
  padding: 20px;
  color: #000000; /* Ändra färgen på paragrafen */
  font-size: 40px;
  text-align: left;
}

.content ul {
  list-style-type: none; /* Ta bort punktlistan */
  padding: 0; /* Ta bort inre utfyllnad för ul-elementet */
  font-size: 20px;
}

.content li {
  padding: 7px;
  color: #505762; /* Ändra färgen på listelementen */
}

.containerContent {
  display: flex;
  justify-content: center;
  flex: 80%;
}

.content ul {
  list-style-type: none; /* Tar bort standardlista */
  padding: 0; /* Tar bort inre utfyllnad */
  text-align: left;
}

.content li {
  position: relative; /* Relativ position för att rita rätt-tecknet */
  padding-left: 25px; /* Lägger till utrymme till vänster för rätt-tecknet */
  margin-bottom: 10px; /* Lägger till utrymme mellan listelementen */
}

.content li::before {
  padding: 7px;
  content: "\2714"; /* Rätt-tecknet (✔) */
  position: absolute; /* Absolut position relativt till listelementet */
  left: 0; /* Placering till vänster för listelementet */
  top: 0; /* Placering till toppen för listelementet */
  color: #fd7014; /* Färgen för rätt-tecknet */
}

.button {
  display: inline-block;
  background-color: #fd7014;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 8px 16px; /* Minska paddingen för att göra knappen smalare */
  font-size: 16px; /* Minska fontstorleken för att göra knappen smalare */
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  float: left;
}

.button:hover {
  color: #393e46;
  background-color: #fd8f47;
}

.miljoContent {
  margin-top: 80px;
  display: flex;
}

.text-content {
  margin-top: 50px;
  flex-basis: 50%; /* Tar upp halva bredden */
  padding: 20px 20px; /* Lägger till lite utfyllnad på sidorna */
}

.text-content h2 {
  font-size: 40px;
  margin-top: 10px; /* Tar bort översta marginalen för rubriken */
}

.text-content p {
  padding-top: 20px;
  color: #505762;
  font-size: 20px;
  margin-bottom: 0; /* Tar bort nedersta marginalen för paragrafen */
}

.miljoContent img {
  flex-basis: 50%; /* Tar upp halva bredden */
  max-width: 100%; /* Säkerställer att bilden inte är bredare än förälderkontainern */
}

.kund {
  margin: 30px 0;
  display: inline-block;
  background-color: #fd7014;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 16px 32px; /* Minska paddingen för att göra knappen smalare */
  font-size: 28px; /* Minska fontstorleken för att göra knappen smalare */
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  float: left;
}

.kund:hover {
  color: #44474d;
  background-color: #fd8f47;
}

.skickaButton {
  display: inline-block;
  background-color: #fd7014;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 8px 16px; /* Minska paddingen för att göra knappen smalare */
  font-size: 16px; /* Minska fontstorleken för att göra knappen smalare */
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.skickaButton:hover {
  color: #393e46;
  background-color: #fd8f47;
}

.skickaButton {
  display: block; /* Gör dem till blockelement för att centrera dem korrekt */
  margin: 0 auto; /* Centrera länken horisontellt */
  text-align: center; /* Centrera texten inuti länken horisontellt */
}

.sender {
  margin: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #fd7014;
  color: #fd7014;
  text-align: center;
  padding: 20px 0; /* Använd padding för att fylla utrymmet längs toppen och botten */
  width: 100%;
  bottom: 0; /* Placera fotern längst ned på sidan */
  left: 0; /* Placera fotern längst till vänster på sidan */
  right: 0; /* Placera fotern längst till höger på sidan */
  margin: 0; /* Ta bort alla marginaler */
}

/* Grundläggande layoutstilar */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.nav {
  background-color: #f4f4f4;
  padding: 10px 0;
}

.nav-list {
  list-style-type: none;
  text-align: center;
}

.nav-item {
  display: inline;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #333;
  color: #fff;
}

.main {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.footer-text {
  margin: 0;
}
/*about us*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fd7014;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.section {
  margin-bottom: 40px;
}

.section__title {
  padding: 20px 0;
  color: #333;
}

.section__content {
  color: #666;
}

.team__list {
  list-style-type: none;
  padding: 0;
}

.team__member {
  margin-bottom: 5px;
}

/**/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
}
form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #fd7014;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #fd8f47;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 5px;
}
